*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #1469bd;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}

.menu_block {
    width: 17%;
    min-width: 17%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar_block {
    width: 83%;
    height: 100%;
    background: transparent;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    width: 95%;
    height: 90px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.info_block {
    width: 95%;
    height: 85vh;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/* Info-block style */
.info_block .first_block {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
}

.info_block .first_block div {
    width: 24%;
    height: 16rem;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    background-color: #1469bd;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.info_block .first_block div h3 {
    padding: 18px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    height: 4.5rem;
    font-size: 22px;
    color: hsla(0, 0%, 20%, 0.865);
}

.info_block .first_block div p {
    padding: 10px;
    font-size: 28px;
    font-weight: 700;
    height: 70%;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
}

/* Info-block style fin*/

.info_block .last_block {
    height: 20%;
    width: 100%;
}

/* style generale des pages fin */
.menu_block .first_block {
    width: 100%;
    height: 10%;
    background-color: transparent;
    padding: 2rem;
}

.menu_block .first_block {
    width: 100%;
    height: 10%;
    background-color: transparent;
}

.menu_block .first_block img {
    width: 220px;
}

.menu_block ul {
    width: 100%;
    height: 80%;
    background-color: transparent;
    display: block;
}

.menu_block ul li {
    list-style: none;


    cursor: pointer;
}

.menu_block ul a {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    display: flex;
    align-items: center;
    background-color: #1469bd;
    width: 90%;
    padding: 1rem;
    border-radius: 0px 15px 15px 0px;
    margin-top: 1rem;
}

.menu_block ul a:hover {
    background-color: hsl(210, 81%, 21%);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.menu_block ul li img {
    margin-right: 15px;
}

.menu_block ul li svg {
    margin-right: 15px;
}

.menu_block .last_block {
    width: 100%;
    height: 10%;
    background-color: transparent;
}

.last_block {
    display: flex;
    align-items: center;
}

.last_block a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    color: #ffffff;
    width: 90%;
    background-color: #1469bd;
    padding: 1rem;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

.last_block a:hover {
    background-color: hsl(210, 81%, 21%);
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.last_block a img {
    width: 37px;
    margin-right: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 2rem 0px 2rem;
    align-items: center;
}

.navbar .photo_profil {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* code horloge */
.clock-container {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#date {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

#time {
    font-size: 2.3rem;
    font-weight: bold;
    color: #007bff;
}

/* code horloge fin*/


.info_block h1 {
    text-align: center;
    font-size: 24px;
    color: #1469bd;
    margin-bottom: 10px;
}

.info_block h2 {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
}

.form-group {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form select {
    padding: 13px;
    font-size: 19px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
}

form input[type="text"]:focus,
form input[type="number"],
form input[type="date"]:focus,
form select:focus {
    outline: none;
    border-color: #1469bd;
}

#submitBtn {
    background-color: #1469bd;
    color: white;
    padding: 13px;
    font-size: 18px;
    font-weight: 800;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    width: 30%;
    align-self: center;
}

#submitBtn:hover {
    background-color: hsl(210, 81%, 40%);
}